body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
	background-color: #151515;
	color: #b4a5a5;
}

.app__title {
	text-align: center;
	margin: 10px 0;
}

.game__container {
	color: #e6dd3b;
	width: 400px;
	margin: 50px auto;
	 
	border: 1px solid #e6dd3b70;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 0px #e6dd3b2f;
	position: relative;
}

.game__optionsContainer {
	display: flex;

	flex-direction: column;
	justify-content: space-between;
}

.game__subtitle {
	text-align: center;
	margin: 20px 0;
}

.game__choise {
	font-size: 24px;
	padding: 10px;
	text-align: center;
	border: 1px solid #ff7a00;
	margin: 10px 0;
	cursor: pointer;
}

.game__choise:hover {
	color: white;
	background-color: #e6dd3b62;
}

.game__timeout {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #e84545;
	font-size: 20px;
}

.game__info {
	color: #b4a5a5;
}
.gameover__play{
	background-color:#e84545 ;
	display: block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: white;
	margin: 0 auto;
	width: 200px;
	padding: 10px 30px;
	border-radius: 2px;
	font-size: 18px;
}

.gameover__play:hover{
background-color: #e62626;
color: white;
}